@model List<MeyawoPortfolio.Models.TblProject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Projelerim</h2>

<table class="table table-bordered">
    <tr>
        <th>Proje ID</th>
        <th>Proje Adı</th>
        <th>Proje Kategorisi</th>
        <th>Github Linki</th>
        <th>İşlemler</th>
        
    </tr>
    @foreach (var x in Model)
            {
        <tr>
            <td>@x.ProjectID</td>
            <td>@x.Title</td>
            <td>@x.TblCategory.CategoryName</td>
            <td>@x.ProjectUrl</td>
            <td><a href="/Project/DeleteProject/@x.ProjectID" class="btn btn-danger">Sil</a>
            <a href="/Project/UpdateProject/@x.ProjectID" class="btn btn-success">Güncelle</a>
            <a href="@x.ProjectUrl" target="_blank"  class="btn btn-dark">Github'da Aç</a></td>
       
        </tr>
            }

</table>

<a href="/Project/CreateProject/" class="btn btn-primary">Yeni Proje Ekle</a>